<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <!--<div id="save_message"></div>
  <div id="comment"></div>

  <div class="thriceXXX">
  <div class="thriceXXX">
  <div class="thriceXXX">

  <div id="logged_in"></div>-->

  <div id="response message"></div>
    Add a comment to this tweet:
    <blockqoute>
      <%=@tweet.tweet%>
    </blockqoute>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  
  <div class="actions">
    <%= f.hidden_field :tweet_id, :value=>@tweet_id%>
    <%= f.submit %>
  </div>
<% end %>
