<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>

</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<%= @set_num_comment %>




<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
